@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .header-top {
    @apply sticky top-0 z-10 h-16 w-full flex-shrink-0 border-b-2 border-gray-200 bg-white;
  }

  .title {
    @apply py-3 text-xl font-bold;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 240 5.9% 20%; /* lighter on hover */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-hover: 240 4.8% 90%; /* darker for hover */

    --submit: 210 98% 38%;
    --submit-foreground: 0 0% 98%;
    --submit-hover: 221 83% 48%; /* lighter on hover */

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --muted-hover: 240 4.8% 90%; /* same logic as secondary */

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --accent-hover: 240 4.8% 90%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --destructive-hover: 0 84.2% 50%; /* slightly darker red */

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto max-w-[1900px];
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add custom global styles for dark mode */
:root {
  /* Default (light) mode colors */
  --bg-color: white;
  --text-color: black;
}

.dark :root {
  /* Dark mode colors */
  --bg-color: #121212;
  --text-color: #e4e4e7;
}

/* Applying variables */
html {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This inverts the colors, turning dark icons to light */
}
